* {
    font: inherit;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#library {
    border: 4px solid maroon;
    margin: 4px;

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.book-card {
    border: 4px solid darkgrey;
}

.book-info {
    list-style: none;
}

